@mixin six71 {
  // ?SECTION TWO - OVERVIEW OF SERVICES.....................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ..................................................................................
  // ..................................................................................
  // ..................................................................................
  // ..................................................................................

  .overview-services-section {
    > .width-div {
      //   width: 100%;
      //   margin: auto;
      //   border: solid pink;

      > h3 {
        font-size: 1.5rem;
        // text-align: center;
        // margin-bottom: 1rem;
      }
      > img {
        // width: 100px;
        // margin: auto;
        // display: block;
        // margin-bottom: 1.6rem;
      }
      > p {
        width: 90%;
        // text-align: center;
        // margin: auto;
        // margin-bottom: 3.5rem;
        // line-height: 1.7;
        // font-family: variables.$informal-font;
        // color: variables.$text-grey;
      }

      > .cards-div {
        // display: grid;
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        // border: solid red;
        // gap: 0rem;
      }
    }
  }

  .service-card {
    // border: solid green;
    // padding: 0 1rem;
    height: 235px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    gap: 0.7rem;
    > .icon-div {
      //   padding: 11px;
      //   background-color: variables.$primary-color;
      //   border-radius: 15px;
      //   margin-bottom: 1.2rem;
      > .icon {
        // font-size: 1.8rem;
        // color: white;
      }
    }
    > h4 {
      //   text-align: center;
      //   font-size: 1.4rem;
    }
    > p {
      //   text-align: center;
      //   font-family: variables.$informal-font;
      //   line-height: 1.7;
      //   color: variables.$text-grey;
      width: 95%;
    }
  }

  // ?SECTION THREE - PHOTOS SECTION.....................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ..................................................................................
  // ..................................................................................
  // ..................................................................................
  // ..................................................................................
  .photos-section {
    // background-color: variables.$primary-color;
    // color: white;
    > h3 {
      font-size: 2rem;
      //   text-align: center;
      margin-bottom: 1.3rem;
    }
    > p {
      //   text-align: center;
      //   font-family: variables.$informal-font;
      width: 95%;
      //   margin: auto;
      //   margin-bottom: 3rem;
      line-height: 1.3;
    }
    > .width-div {
      //   width: 100%;
      padding: 0 5px;
      //   margin: auto;
      //   margin-bottom: 4.5rem;
    }

    .slick-track {
      //   display: flex;
      //   gap: 1.5rem;
    }

    .slider-image {
      border-radius: 10px;
    }

    .slick-dots li.slick-active button:before {
      //   color: #ffffff;
    }

    > a {
      //   display: block;
      //   margin: auto;
      //   background-color: variables.$secondary-color;
      //   font-size: 1.1rem;
      //   font-family: variables.$informal-font;
      //   border: none;
      //   padding: 15px 28px;
      //   border-radius: 5px;
      width: 13rem;
    }
  }

  // ?SECTION FOUR - VIDEOS SECTION.....................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ..................................................................................
  // ..................................................................................
  // ..................................................................................
  // ..................................................................................

  .video-section {
    // color: white;
    > .width-div {
      width: 97%;
      //   margin: auto;
      //   background-color: variables.$primary-color;
      padding: 4rem 1.5rem;
      border-radius: 15px;
      > h3 {
        font-size: 2rem;
        // text-align: center;
        // margin-bottom: 1.6rem;
      }
      > p {
        // text-align: center;
        // font-family: variables.$informal-font;
        width: 98%;
        // margin: auto;
        margin-bottom: 4rem;
        line-height: 1.7;
      }

      > .videos-div {
        // width: 100%;
        // margin: auto;
        // border: solid red;
        gap: 1.7rem;
        // display: grid;
        // grid-template-columns: repeat(1, 1fr);
        // justify-items: center;
        // margin-bottom: 3rem;
        .video-div {
          max-width: 310px;
          min-width: 0;
          max-height: 185px;
          //   background-color: red;
        }
      }

      > a {
        display: block;
        //   margin: auto;
        //   background-color: variables.$secondary-color;
        font-size: 1rem;
        //   font-family: variables.$informal-font;
        //   border: none;
        //   padding: 15px 28px;
        //   border-radius: 5px;
      }
    }
  }

  // ?SECTION FIVE - VITUAL TOURS SECTION.....................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ..................................................................................
  // ..................................................................................
  // ..................................................................................
  // ..................................................................................
  .virtual-tour-section {
    // margin-top: -1rem;
    height: 1050px;
    > .width-div {
      //   width: 100%;
      padding: 0 1rem;
      //   margin: auto;
      //   display: flex;
      //   flex-direction: column;
      gap: 3.3rem;
      // border: solid red;
      > .image-div {
        // border: solid blue;
        // margin: auto;
        width: 100%;
        // border-radius: 25px;
        // flex-basis: 55%;
        img {
          //   object-fit: cover;
          //   width: 100%;
          height: 240px;
          border-radius: 15px;
        }
      }

      > .text-content-div {
        // border: solid red;
        // margin: auto;
        // flex-basis: 45%;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // padding: 0 7px 0 7px;
        > h3 {
          font-size: 2rem;
          margin-bottom: 1.5rem;
        }
        > p {
          //   font-family: variables.$informal-font;
          width: 96%;
          //   margin-bottom: 3rem;
          //   line-height: 1.6;
        }
        > ul {
          //   margin-left: 1rem;
          //   margin-bottom: 3rem;
          // border: solid red;
          li {
            // list-style: disc;
            // margin-bottom: 1rem;
          }
        }
        > button {
          //   background-color: variables.$secondary-color;
          // font-size: 1.1rem;
          //   font-family: variables.$informal-font;
          //   border: none;
          //   padding: 19px 0px;
          width: 180px;
          //   border-radius: 5px;
        }
      }
    }
  }

  // ?SECTION SIX - FLOOR PLANS.....................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ..................................................................................
  // ..................................................................................
  // ..................................................................................
  // ..................................................................................
  .floor-plan-section {
    padding: 5rem 0;
    height: 850px;
    // background-color: variables.$primary-color;
    // color: white;
    > .width-div {
      // border: solid blue;
      padding: 0rem 10px;
      max-width: 95%;
      //   min-width: 500px;
      height: 100%;
      //   margin: auto;
      //   display: flex;
      //   flex-direction: column;
      gap: 2rem;
      > .text-content-div {
        // border: solid red;
        // height: 100px;
        // order: 2;
        // display: flex;
        // flex-direction: column;
        justify-content: 0;
        > h3 {
          font-size: 2rem;
          //   margin-bottom: 1.6rem;
        }
        > img {
          //   width: 100px;
          margin-bottom: 2rem;
        }
        > p {
          // font-family: variables.$informal-font;
          width: 97%;
          //   margin-bottom: 3.5rem;
          //   line-height: 1.7;
        }
        > button {
          //   background-color: variables.$secondary-color;
          //   font-size: 1.1rem;
          //   font-family: variables.$informal-font;
          //   border: none;
          //   padding: 19px 0px;
          //   width: 200px;
          //   border-radius: 5px;
        }
      }

      > .image-div {
        // border: solid pink;
        // margin: auto;
        flex-basis: 0;
        width: 100%;
        height: 220px;
        // background-color: #ffffff;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        border-radius: 15px;
        img {
          //   object-fit: cover;
          width: 88%;
          height: 88%;
          box-shadow: 2px 2px 4px 4px rgb(148, 148, 148);
        }
      }
    }
  }

  // ?SECTION SEVEN - MORE SERVICES.....................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ..................................................................................
  // ..................................................................................
  // ..................................................................................
  // ..................................................................................

  .more-services-section {
    padding: 5rem 0.3rem;
    > .width-div {
      //   width: 100%;
      //   margin: auto;
      > h3 {
        font-size: 2rem;
        // margin-bottom: 3rem;
        // text-align: center;
      }
    }
  }

  .tab-component-div {
    height: 1210px;
    // border: solid blue;
    > .tabs-div {
      padding: 0rem 1rem 2.3rem;
      //   display: flex;
      //   flex-direction: column;
      //   justify-content: center;
      gap: 1rem;
      //   border-bottom: solid black 1px;
      //   margin-bottom: 4rem;
      > .tab {
        // flex-basis: 25%;
        // font-size: 1rem;
        // text-align: center;
        // cursor: pointer;
        // padding: 19px 0;
        // background-color: variables.$primary-color;
        // color: white;
      }

      .active-tab {
        // background-color: variables.$secondary-color;
        // margin-top: 5px;
      }
    }
  }

  .sect {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    > img {
      width: 90%;
      //   margin-bottom: 1.8rem;
      //   border-radius: 15px;
      //   box-shadow: 2px 2px 5px 2px rgb(104, 104, 104);
    }
    // > h4 {
    //   font-size: 1.5rem;
    //   margin-bottom: 1.3rem;
    //   text-align: center;
    // }
    > video {
      width: 55%;
      // margin-bottom: 1.8rem;
      // border-radius: 15px;
      // box-shadow: 2px 2px 5px 2px rgb(104, 104, 104);
    }
    > p {
      //   font-family: variables.$informal-font;
      width: 97%;
      //   text-align: center;
      //   margin-bottom: 1rem;
      //   line-height: 1.7;
    }
  }
}
