@use "variables";
@import "./commonuse";
@import "./genericbanner";
@import "./aboutfull";
@import "./servicesfull";
@import "./portfoliofull";
@import "./thankyoupageonefull";
@import "./specialofferfull";
// @import "homeMediaQueries/_sixteen14.scss";
// @import "homeMediaQueries/_thirteen60.scss";
// @import "homeMediaQueries/_ten64.scss";
// @import "homeMediaQueries/_six10.scss";
// @import "aboutMediaQueries/_elevenSixty.scss";
// @import "aboutMediaQueries/_tentwelve.scss";
// @import "aboutMediaQueries/_eightThirty.scss";
// @import "aboutMediaQueries/_sixNineNine.scss";
// @import "servicesMediaQueries/_thirteen85.scss";
// @import "servicesMediaQueries/_nine35.scss";
// @import "servicesMediaQueries/_seven75.scss";
// @import "servicesMediaQueries/_six71.scss";
// @import "portfolioMediaQueries/_thirteen00.scss";
// @import "portfolioMediaQueries/_one00.scss";
// @import "portfolioMediaQueries/_six90.scss";
// @import "portfolioMediaQueries/_four90.scss";
@import "thankyouMediaQueries/_eightten.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
}

// ?SETTINGS.................................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button:focus,
a:focus {
  outline: none;
}

// ?MOBILE MENU........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
.mobile-menu {
  position: fixed;
  top: 0;
  right: -50%; /* start offscreen */
  width: 50%;
  height: 100vh;
  background-color: rgb(39, 39, 39);
  transition: right 0.5s ease;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  margin-top: 5rem;
  > a {
    > img {
      width: 350px;
    }
  }
}

/*Phone Number Button*/
.phone-container {
  width: 85%;
  padding: 1rem 0 1rem 0;
  border-radius: 12px;
  background-color: #e6b35b;
  color: black;
  font-family: variables.$informal-font;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  > .icon {
    font-size: 20px;
  }
}

.mobile-menu.open {
  right: 0;
}
/*Close Button*/
.menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 10px;
  background-color: #e6b35b;
  color: black;
  border: none;
  padding: 0.5rem;
  > .icon {
    font-size: 25px;
    cursor: pointer;
  }
}

/*NAV*/
.menu-items {
  padding: 20px 20px 20px 35px;
  margin-top: 2rem;
  width: 100%;
  color: white;
  // border: solid red;
}

.menu-items ul {
  list-style: none;
  padding: 0;
  text-align: start;
  width: 100%;
}

.menu-items li {
  margin-bottom: 1.1rem;
  font-weight: 600;
  font-size: 1rem;
  font-family: variables.$informal-font;
}

// ?TOP NAVIGATION BAR........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem 0 3rem;
  }

  .logo {
    width: 380px;
    margin: -20px 0 -20px 0;
  }

  ul {
    display: flex;
    gap: 5rem;
    color: white;
    margin-right: 2.5rem;
    // border: solid red;

    li {
      font-size: 1.2rem;
      transition: all 0.3s ease-in-out;
      // transition-delay: 0.3s;
    }
    li:hover {
      color: rgb(221, 221, 221);
    }
  }
  .menu-icon {
    font-size: 2rem;
    color: white;
    display: none;
    cursor: pointer;
  }
}

// ?BANNER SECTION.....................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
.banner-image-container {
  height: 100vh;
  position: relative;
  > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.banner-text-container {
  margin-left: 8rem;
  color: white;

  h1 {
    font-size: 3rem;
    max-width: 70%;
    line-height: 1.3;
    margin-bottom: 2.5rem;
    font-family: variables.$formal-font;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 3rem;
    max-width: 80%;
    font-family: variables.$informal-font;
  }

  %button-shared {
    background-color: variables.$secondary-color;
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    font-size: 15px;
    font-family: variables.$informal-font;
    color: black;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  a:first-child {
    @extend %button-shared;
    margin-right: 1rem;
  }

  a:first-child:hover {
    background-color: #f6cf8a;
  }

  a:last-child {
    @extend %button-shared;
    background-color: transparent;
    border: solid white 1px;
    color: white;
  }

  a:last-child:hover {
    background-color: white;
    color: black;
  }
}

%arrows-shared {
  background-color: transparent;
  color: variables.$secondary-color;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.banner-previous {
  @extend %arrows-shared;
  position: absolute;
  top: 50%;
  left: 1.5rem;
}

.banner-next {
  @extend %arrows-shared;
  position: absolute;
  top: 50%;
  right: 1.5rem;
}

// ?SECTION ONE - TEAM.....................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
.team-section-outer-container {
  position: relative;
  > div {
    max-width: 70%;
    margin: auto;
    display: flex;
    gap: 4.5rem;
    // border: solid red 1px;
    .left-images-container {
      display: flex;
      gap: 1rem;

      // Styiling for images of this section
      %team-images-shared {
        width: 260px;
        height: 500px;
      }

      .image-1 {
        @extend %team-images-shared;

        > img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
      .image-2 {
        @extend %team-images-shared;
        margin-top: 6rem;

        > img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }

    .right-text-container {
      // border: solid red 2px;
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      justify-content: center;

      .overheading {
        color: variables.$secondary-color;
        font-family: variables.$informal-font;
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
      }

      > h3 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        font-family: variables.$formal-font;
      }

      > p {
        color: variables.$text-grey;
        font-family: variables.$informal-font;
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 1.5rem;
      }

      // Accordion
      .accordion-container {
        margin-bottom: 2rem;
        min-height: 350px;
        // border: solid red;

        .indi-accordion {
          p {
            padding: 10px 0 10px 0;
            font-family: variables.$informal-font;
            font-size: 15px;
            color: variables.$text-grey;
            line-height: 1.6;
          }
        }
      }

      %accordion-shared {
        background-color: transparent;
        color: variables.$text-grey;
        font-family: variables.$informal-font;
        font-weight: 300;
        padding: 18px 0 18px 0;
        width: 100%;
        border: none;
        border-bottom: solid rgba(60, 60, 60, 0.349) 1px;
        text-align: left;
        font-size: 18px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .acc-1 {
        @extend %accordion-shared;
      }
      .acc-2 {
        @extend %accordion-shared;
      }
      .acc-3 {
        @extend %accordion-shared;
      }

      .learn-more-button {
        max-width: 200px;
        text-align: center;
        padding: 1rem 0 1rem 0;
        border: none;
        font-size: 17px;
        color: black;
        background-color: variables.$secondary-color;
        transition: all 0.3s ease-in-out;
      }
      .learn-more-button:hover {
        background-color: #f6cf8a;
      }
    }
  }

  .vid {
    position: absolute;
    top: 55%;
    left: 11rem;
    width: 560px;
    height: 315px;
  }
}

.arrow-tab {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease-in-out;
  font-size: 1.5rem;
}

.arrow-tab.up {
  transform: rotate(180deg);
}

// ?SECTION TWO - SERVICES.....................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
.services-section-outer-container {
  background: linear-gradient(
      to bottom,
      rgb(26, 47, 71) 0%,
      rgba(26, 47, 71, 0.95) 59%,
      rgba(26, 47, 71, 0.9) 100%
    ),
    url("/poggi-10.jpg");
  background-position: center;
  background-size: cover;
  > div {
    > div {
      max-width: 70%;
      margin: auto;
      color: white;
      margin-bottom: 2rem;
      > h3 {
        font-size: 2.5rem;
        font-family: variables.$formal-font;
        line-height: 1.5;
      }
      > img {
        width: 100px;
        padding: 12px 0 5px 0;
      }
    }
  }
}

.service-cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2.5rem;
  justify-content: center;
}

// Service card component styles
.service-card-container {
  // border: solid red !important;

  .card-image-container {
    width: 100%;
    height: 240px;
    margin-bottom: 1rem;
    > img {
      object-fit: fill;
      height: 100%;
      width: 100%;
    }
  }

  .card-text-container {
    margin-bottom: 1rem;

    > h4 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      font-family: variables.$informal-font;

      > span {
        color: variables.$secondary-color;
      }
    }
    > p {
      font-size: 15px;
      color: variables.$text-lighter-grey;
      margin-bottom: 1.5rem;
      font-family: variables.$informal-font;
    }
    > a {
      font-size: 18px;
    }
  }
}

// ?SECTION THREE - HOMEPAGE-GALLERY.....................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
.gallery-section-outer-container {
  > div {
    margin: auto;
    color: black;
    // border: solid red;
    margin-bottom: 3rem;
    > h3 {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 1.5rem;
      font-family: variables.$formal-font;
    }
    > p {
      font-size: 1.1rem;
      width: 55%;
      line-height: 1.5;
      margin: auto;
      text-align: center;
      margin-bottom: 1rem;
      font-family: variables.$informal-font;
    }
    > img {
      width: 100px;
      padding: 12px 0 5px 0;
      display: block;
      margin: auto;
    }
  }
}

// ?Slider Component Styling...............
// ?Slider Component Styling...............
// ?Slider Component Styling...............
.container {
  // border: solid red;
  position: relative;
}
.images-container {
  display: grid !important;
  // border: solid green;
  cursor: pointer;
  grid-template-columns: repeat(3, minmax(300px, 1fr)) !important;
  .imagess {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}
.slick-prev:before,
.slick-next:before {
  color: variables.$secondary-color !important;
  font-size: 2rem !important;
  opacity: 1 !important;
}

// !EXPNADED GALLERY SLIDER......................................................................
// !........................................................................
// !........................................................................

.slider {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // height: 100vh;
  padding: 26.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: solid red;
  background-color: rgb(0, 0, 0, 0.9);
  z-index: 9999;

  %arrows-shared-home-gallery {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    color: variables.$secondary-color;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .right-arrow {
    @extend %arrows-shared-home-gallery;
    right: 5rem;
  }

  .left-arrow {
    @extend %arrows-shared-home-gallery;
    left: 5rem;
  }

  .slide {
    opacity: 0;
    transition-duration: 1.5s ease;
  }

  .slide.active {
    opacity: 1;
    transition-duration: 1.5s;
    transform: scale(1.08);
  }

  .close-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    background-color: transparent;
    color: white;
    border: solid white 1px;
    padding: 10px 40px;
    cursor: pointer;
    font-size: large;
    font-family: variables.$informal-font;
  }
  .close-btn:hover {
    background-color: variables.$secondary-color;
    color: black;
    border: none;
    transition: all 0.5s ease;
  }
}

.image {
  // border: solid red;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

// ?IMAGE REVEALER SLIDER...........................................
// !IMAGE REVEALER SLIDER...........................................
// ?IMAGE REVEALER SLIDER...........................................
// !IMAGE REVEALER SLIDER...........................................
// ?IMAGE REVEALER SLIDER...........................................
// !IMAGE REVEALER SLIDER...........................................
.revealer-section {
  background-color: #ececec;
  padding: 4rem 0 4rem 0;
  .revealer-section-container {
    display: flex;
    gap: 3rem;
    max-width: 70%;
    // border: solid red;
    margin: auto;
    .revealer-text-div {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      > h2 {
        font-family: variables.$formal-font;
        padding: 0 0 1.5rem 0;
        font-size: 1.5rem;
        text-transform: capitalize;
        line-height: 1.5;
      }
      > p {
        font-family: variables.$informal-font;
        font-size: 15px;
        margin-bottom: 2rem;
      }
      > a {
        background-color: variables.$primary-color;
        color: white;
        padding: 1rem 3rem 1rem 3rem;
        border: none;
        font-size: 15px;
        font-family: variables.$informal-font;
        text-align: center;
        cursor: pointer;
        width: 200px;
        transition: all 0.3s ease-in-out;
      }
    }
    .revealer-component-div {
      flex-basis: 50%;
    }
  }
}

// ?SECTION FOUR - WHO WE HELP.....................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
.whowehelp-section-outer-container {
  padding: 3rem 0;
  background: linear-gradient(
      to bottom,
      rgb(26, 47, 71, 0.95) 0%,
      rgba(26, 47, 71, 0.95) 59%,
      rgba(26, 47, 71, 0.95) 100%
    ),
    url("/poggi-11.jpg");
  background-position: center;
  background-size: cover;
  h3 {
    font-size: 1.3rem;
    font-weight: 400;
    // text-transform: uppercase;
    font-family: variables.$formal-font;
    text-align: center;
    color: white;
    margin-bottom: 2.5rem;
  }
  h4 {
    text-align: center;
    color: variables.$secondary-color;
    font-family: variables.$informal-font;
    font-size: 1.3rem;
    line-height: 1.6;
    margin: auto;
    font-weight: 300;
    padding: 0 4.5rem 0 4.5rem;
    transition: 0.4s ease-out;
  }
  h4:hover {
    font-size: 1.6rem;
    color: white;
    transition: all 0.3s ease-in-out;
  }
}

// ?SECTION FIVE - PROCESS.....................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
.process-section-outer-container {
  > h3 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    font-family: variables.$formal-font;
  }
  > p {
    font-family: variables.$informal-font;
    // border: solid red;
    text-align: center;
    width: 60%;
    line-height: 1.7;
    font-size: 1.1rem;
    margin: auto;
    color: #7c7c7c;
    margin-bottom: 3rem;
  }
  .process-cards-container {
    // border: solid pink;
    max-width: 75%;
    min-height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
}

// !CARD COMPONENT/////////////////////////////...................
// !CARD COMPONENT/////////////////////////////...................
// !CARD COMPONENT/////////////////////////////...................
.card {
  // max-width: 33.3%;
  flex-basis: 30%;
  min-width: 390px;
  min-height: 420px;
  // border: solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  text-align: center;
  .image-container {
    position: relative;
    background-color: #ffffff;
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 100%;
    border: solid rgb(241, 241, 241) 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.3rem;
    transition: all 0.5s ease-out;

    .number-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 600;
      font-family: variables.$informal-font;
      position: absolute;
      top: 12px;
      left: -8px;
      border-radius: 100%;
      width: 28%;
      height: 28%;
      background-color: #ffffff;
      border: solid rgb(241, 241, 241) 1px;
      transition: all 0.5s ease-out;
    }

    div {
      height: 90%;
      width: 90%;
      background-color: rgb(245, 245, 245);
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 90px;
    }
  }
  .image-container:hover {
    background-color: variables.$secondary-color;
    transition: all 0.3s ease-in;
  }
  .number-circle:hover {
    background-color: variables.$secondary-color;
    transition: all 0.3s ease-in;
    color: white;
  }
  // .image-container:hover::before {
  //   background-color: variables.$secondary-color;
  //   transition: all 0.3s ease-in;
  // }

  h4 {
    font-size: 1.3rem;
    font-family: variables.$informal-font;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  p {
    font-size: 16px;
    color: #7c7c7c;
    line-height: 1.7;
    width: 90%;
    margin: auto;
    font-family: variables.$informal-font;
  }
}

// ?SECTION SIX - TESTIMONIALS.....................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................

.testimonial-section-outer-container {
  background: linear-gradient(
      to bottom,
      rgb(26, 47, 71) 0%,
      rgba(26, 47, 71, 0.95) 59%,
      rgba(26, 47, 71, 0.9) 100%
    ),
    url("/poggi-4.jpg");
  background-position: center;
  background-size: cover;
  > div {
    // border: solid green;
    .text-container {
      max-width: 70%;
      margin: auto;
      color: white;
      margin-bottom: 2.5rem;
      text-align: center;
      // border: solid blue;
      > h3 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        font-family: variables.$formal-font;
      }
      > p {
        margin-bottom: 0.5rem;
        font-family: variables.$informal-font;
        line-height: 1.7;
      }
      > img {
        width: 100px;
        padding: 12px 0 5px 0;
      }
    }
  }
}

// !Testimonial card component.......................
// !Testimonial card component.......................
// !Testimonial card component.......................
// !Testimonial card component.......................
.testi-card {
  background-color: white;
  width: 400px;
  min-height: 380px;
  padding: 1.3rem;
  border-radius: 20px;
  margin: 0 10px 0 10px;
  > .pic-container {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-bottom: 7px;
    > img {
      border-radius: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  > h4 {
    color: rgb(37, 37, 79);
    margin-bottom: 2px;
    font-family: variables.$formal-font;
  }
  > div {
    color: variables.$secondary-color;
    margin-bottom: 1rem;
  }
  > p {
    color: rgb(37, 37, 79);
    font-size: 14px;
    font-family: variables.$informal-font;
  }
}

// ?SECTION SEVEN - EXTRA SERVICES........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
.extraservices-section-outer-container {
  .reels-section {
    // border: solid red;
    width: 80%;
    margin: auto;
    display: flex;
    gap: 2.3rem;
    min-height: 580px;
    padding-bottom: 5rem;
    // background-color: #333;

    .pic-div {
      position: relative;
      flex-basis: 50%;
      display: flex;
      justify-content: end;
      align-items: center;
      // background-color: transparent;
      // border: solid blue;
      .pic-vic-div {
        position: relative;
        // border: solid yellow;
        width: 330px;
        display: flex;
        justify-content: center;
        align-items: center;
        .social-decor {
          position: absolute;
          width: 370px;
          height: 450px;
          left: -245px;
          z-index: 9999;
        }
        img {
          // position: absolute;
          width: 275px;
          height: 100%;
          z-index: 10;
        }

        .lazy {
          // border: solid red;
          position: absolute;
          width: 290px;
          height: 100%;
          z-index: -1;
        }
        .vid {
          position: absolute;
          width: 290px;
          height: 100%;
          z-index: -1;
        }
      }
    }
    // TODO Text side
    .text-div {
      // border: solid red;
      // padding-right: 3rem;
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;

      // border: solid red;
      > h3 {
        font-size: 1.3rem;
        line-height: 1.5;
        // padding: 0 0rem 0 3.5rem;
        margin-bottom: 2rem;
        width: 45ch;
        font-family: variables.$informal-font;
      }
      .text {
        display: flex;
        gap: 1rem;
        // padding: 0 3.5rem 0 3.5rem;
        .icon {
          font-size: 2rem;
          color: variables.$secondary-color;
        }
        > div {
          // border: solid pink;
          max-width: 570px;
          h4 {
            font-size: 1.1rem;
            font-family: variables.$informal-font;
            font-weight: 500;
            margin-bottom: 1rem;
          }
          p {
            max-width: 90%;
            font-size: 15px;
            line-height: 1.5;
            font-family: variables.$informal-font;
            color: #454545;
          }
        }
      }

      .text:first-child {
        // margin-bottom: 50rem;
      }
    }
  }

  // WEBSITE SECTION.................................................
  .website-section {
    // border: solid red;
    width: 80%;
    margin: auto;
    display: flex;
    gap: 4rem;
    min-height: 580px;
    padding-bottom: 5rem;
    // background-color: #333;
    // TODO Text side
    .text-div {
      // padding-left: 3rem;
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;
      // border: solid pink;
      // padding-left: 10rem;
      > h3 {
        font-family: variables.$informal-font;
        font-size: 1.3rem;
        line-height: 1.5;
        // padding: 0 3.5rem 0 0rem;
        margin-bottom: 2rem;
        width: 45ch;
      }
      .text {
        display: flex;
        gap: 1rem;
        // padding: 0 3rem 0 3rem;
        // border: solid red;
        .icon {
          font-size: 2rem;
          color: variables.$secondary-color;
        }
        > div {
          // border: solid pink;
          max-width: 570px;
          h4 {
            font-size: 1.1rem;
            font-family: variables.$informal-font;
            font-weight: 500;
            margin-bottom: 1rem;
          }
          p {
            max-width: 90%;
            font-size: 15px;
            line-height: 1.5;
            font-family: variables.$informal-font;
            color: #454545;
          }
        }
      }
    }

    // TODO Image side
    .pic-div {
      position: relative;
      flex-basis: 50%;
      display: flex;
      justify-content: end;
      align-items: center;
      // background-color: transparent;
      // border: solid blue;
      .pic-vic-div {
        position: relative;
        // border: solid yellow;
        width: 530px;
        height: 390px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          // position: absolute;
          width: 100%;
          object-fit: cover;
          border-radius: 20px;
          height: 100%;
          z-index: 9999;

          // background-color: transparent;
        }
      }
    }
  }
}
.first-para {
  margin-bottom: 2rem;
}

// ?SECTION EIGHT - PACKAGES........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
.packages-section-outer-container {
  background-color: #ececec;
  padding: 4rem 0;

  > h1 {
    color: rgba(255, 255, 255, 0.889);
    text-align: center;
    font-size: 5.5rem;
    text-shadow: 1px 4px 5px rgb(210, 210, 210);
    margin-top: -3rem;
    font-family: variables.$formal-font;
  }

  > .sqft-input-div {
    max-width: 50%;
    margin: auto;
    // border: solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    > p {
      text-align: center;
      margin-bottom: 1rem;
      font-family: variables.$informal-font;
    }

    > div {
      > label {
        margin-right: 1rem;
      }
      > input {
        padding: 5px 30px 5px 5px;
      }
    }
  }

  > .package-cards-container {
    margin: auto;
    margin-top: -2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    // border: solid red;
    width: 75%;
  }
}

// ?PACKAGE CARDS..........................
.package-card-shell {
  width: 350px;
  background-color: rgb(26, 47, 71);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid #e6b35b 1px;
  padding: 25px 10px 25px 10px;
  color: white;
  > h3 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-family: variables.$formal-font;
  }

  > p {
    margin-bottom: 1rem;
    font-size: 12px;
    font-family: variables.$informal-font;
  }

  > .price {
    font-size: 1.5rem;
    // font-family: variables.$informal-font;
  }

  > div {
    border: solid #e6b35b 1px;
    background-color: white;
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    overflow: scroll;
    > ul {
      padding: 2rem 0.5rem;
      height: 100%;
      > :last-child {
        padding-bottom: 2rem;
      }
      > li {
        margin-bottom: 0.8rem;
        font-size: 15px;
        font-family: variables.$informal-font;
      }
    }
  }

  > a {
    margin-top: 1rem;
    background-color: #e6b35b;
    padding: 13px 28px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    font-family: variables.$informal-font;
  }
  > a:hover {
    background-color: #f6cf8a;
  }
}

// ?Disclaimer div
.disclaimer-div {
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin: auto;
  margin-top: 3rem;
  font-size: 15px;
  font-family: variables.$informal-font;
  line-height: 1.7;
  width: 83%;
  // border: solid red;
  > p {
    span {
      color: rgb(226, 0, 218);
      cursor: pointer;
    }
  }
}

// ?SECTION NINE - BOOKING FORM........................................................................
// ?SECTION NINE - BOOKING FORM........................................................................
// ?SECTION NINE - BOOKING FORM........................................................................
// ?SECTION NINE - BOOKING FORM........................................................................
// ?SECTION NINE - BOOKING FORM........................................................................
// ?SECTION NINE - BOOKING FORM........................................................................
// ?SECTION NINE - BOOKING FORM........................................................................
// ?SECTION NINE - BOOKING FORM........................................................................
.booking-section-outer-container {
  position: relative;
  > .booking-container {
    max-width: 70%;
    margin: auto;
    > p {
      font-size: 1rem;
      font-weight: 600;
      font-family: variables.$informal-font;
      color: variables.$primary-color;
      margin-bottom: 1.3rem;
    }
    > h1 {
      font-size: 2.5rem;
      margin-bottom: 1.8rem;
      font-family: variables.$formal-font;
    }
  }
}

.booking-form-shell {
  // border: solid pink;
  // packages to choose from section....................
  .packages-form-sect {
    background-color: variables.$primary-color;
    padding: 2rem 1.5rem;
    color: white;
    border-radius: 10px;
    > label {
      font-size: 1.1rem;
      font-family: variables.$informal-font;
      font-weight: 600;
    }
    > div {
      margin: 10px 0 0 0;
      margin-left: 1rem;
      > input {
        cursor: pointer;
      }
      > label {
        margin-left: 8px;
        font-size: 1.1rem;
        cursor: pointer;
      }
    }
  }

  // Addons section......................
  .addons-sect {
    margin-top: 1rem;
    background-color: variables.$primary-color;
    padding: 2rem 1.5rem;
    color: white;
    border-radius: 10px;
    > label {
      font-size: 1.1rem;
      font-family: variables.$informal-font;
      font-weight: 600;
    }
    > div {
      margin: 10px 0 0 0;
      margin-left: 1rem;
      > input {
        cursor: pointer;
      }
      > label {
        margin-left: 8px;
        font-size: 1.1rem;
        cursor: pointer;
        span {
          font-size: 13px;
        }
      }
    }
  }

  #staging-label {
    margin-right: 1rem;
  }

  .selector {
    cursor: pointer;
    display: block;
    margin: 5px 0 0 10px;
  }

  #tour-label {
    margin-right: 1rem;
  }

  // Prospect personal details................
  .prospect-info-form-sect {
    margin-top: 3rem;
    border: solid variables.$primary-color;
    border-radius: 10px;
    padding: 3rem 1.5rem;
    position: relative;
    > .title {
      padding: 1rem 2.5rem;
      position: absolute;
      top: -1.5rem;
      left: 5rem;
      max-width: 350px;
      border-radius: 30px;
      background-color: variables.$primary-color;
      color: white;
      font-family: variables.$informal-font;
    }

    > .user-info-container {
      // border: solid pink;
      font-family: variables.$informal-font;
      > div {
        display: flex;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
        > div {
          flex-basis: 50%;
          > p {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 3px;
          }
          > input {
            width: 100%;
            height: 2.5rem;
            border: solid rgb(161, 161, 161) 1px;
            font-size: 1.1rem;
            padding-left: 5px;
          }
        }
      }

      .size-field {
        display: block;
        font-family: variables.$informal-font;
        > p {
          font-size: 15px;
          font-weight: 600;
          margin-bottom: 3px;
        }
        > input {
          width: 100%;
          height: 2.5rem;
          border: solid rgb(161, 161, 161) 1px;
          font-size: 1.1rem;
          padding-left: 5px;
        }
      }

      .details-field {
        display: block;
        margin-top: 4rem;
        font-family: variables.$informal-font;
        > p {
          font-size: 15px;
          font-weight: 600;
          margin-bottom: 3px;
        }
        > textarea {
          width: 100%;
          height: 8rem;
          border: solid rgb(161, 161, 161) 1px;
          font-size: 1.1rem;
          padding: 5px;
        }
      }
    }
    .urgency-form-sect {
      padding: 2rem 0rem;
      > label {
        font-size: 16px;
        font-family: variables.$informal-font;
        font-weight: 600;
      }
      > div {
        margin: 10px 0 0 0;
        margin-left: 2px;
        > input {
        }
        > label {
          margin-left: 8px;
          font-size: 1rem;
          font-family: variables.$informal-font;
        }
      }
    }
  }
  button {
    width: 100%;
    height: 2.5rem;
    margin-top: 1rem;
    background-color: variables.$primary-color;
    color: white;
    font-family: variables.$informal-font;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
  }
  button:hover {
    background-color: variables.$secondary-color;
    color: black;
  }
}

.formfeedback-overlay-div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;

  > .formfeedback-outer-div {
    // border: solid red;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    > .formfeedback-background-div {
      padding: 1rem 1rem;
      background-color: white;
      box-shadow: 7px 7px 10px 2px rgb(133, 133, 133);
      > .formfeedback-close-button {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        margin-right: 10px;
        > .icon {
          font-size: 1.2rem;
          cursor: pointer;
          color: red;
        }
      }

      // > h2 {
      //   font-family: variables.$informal-font;
      // }
      > p {
        font-family: variables.$informal-font;
        text-align: center;
      }
    }
  }
}

.blur {
  filter: blur(9px);
}

// ?SECTION TEN - CONTACT INFO........................................................................
// ?SECTION TEN - CONTACT INFO........................................................................
// ?SECTION TEN - CONTACT INFO........................................................................
// ?SECTION TEN - CONTACT INFO........................................................................
// ?SECTION TEN - CONTACT INFO........................................................................
// ?SECTION TEN - CONTACT INFO........................................................................
// ?SECTION TEN - CONTACT INFO........................................................................
// ?SECTION TEN - CONTACT INFO........................................................................
.contact-section-outer-container {
  margin-bottom: -2.5rem;
  z-index: 9999;
  position: relative;
  // border: solid red;
  .contact-container {
    // border: solid pink;
    background-color: white;
    width: 60%;
    margin: auto;
    display: flex;
    gap: 1rem;
    box-shadow: 1px 3px 11px 2px rgb(57, 57, 57);
    border-radius: 20px;
    font-family: variables.$informal-font;

    > div {
      padding: 1.5rem 0 1rem;
      flex-basis: 33.3%;
      :first-child {
        display: block;
        margin: auto;
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        color: variables.$primary-color;
      }
      p {
        text-align: center;
        font-size: 1rem;
        color: #000000;
      }
    }
  }
}

// ?SERVICE MAP POP UP................................................................................
// ?SERVICE MAP POP UP................................................................................
// ?SERVICE MAP POP UP................................................................................
// ?SERVICE MAP POP UP................................................................................
// ?SERVICE MAP POP UP................................................................................
// ?SERVICE MAP POP UP................................................................................
// ?SERVICE MAP POP UP................................................................................
// ?SERVICE MAP POP UP................................................................................
// ?SERVICE MAP POP UP................................................................................
.overlay-div {
  position: fixed;
  overflow: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.901);
  z-index: 9999;
  .outer-div {
    padding-top: 1rem;
    margin-bottom: 0.8rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .background-div {
      background-color: white;
      overflow: auto;
      margin: auto;
      padding: 0 2rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      height: 90%;
      width: 85%;

      > .close-button {
        margin-bottom: 1rem;
        display: flex;
        justify-content: end;
        margin-right: 0.5rem;
        > .icon {
          font-size: 2rem;
          cursor: pointer;
          color: black;
        }
      }
      h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
        text-align: center;
      }
      > .map-div {
        height: 100%;
        width: 100%;
        // border: solid green;
        display: flex;
        justify-content: center;
        img {
          max-width: 100%;
        }
      }
    }
  }
}

// ?FOOTER SECTION......................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
// ?........................................................................
footer {
  display: block;
  background-color: variables.$primary-color;
  color: #ffffff;
  width: 100%;
  padding-top: 6rem;
  .socials-div {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    // border: solid red;
    margin-bottom: 7rem;
    .icons {
      padding: 10px;
      border-radius: 10px;
      width: 45px;
      height: 45px;
      font-size: 2rem;
      background-color: #7c7c7c;
    }
  }
  // Content div.........................
  .content-div {
    max-width: 68%;
    margin: auto;
    display: flex;
    gap: 2rem;
    // border: solid red;
    > div:nth-child(1) {
      flex-basis: 33%;
      .label {
        color: variables.$secondary-color;
        font-size: 15px;
        font-family: variables.$informal-font;
        margin-bottom: 3px;
      }
      .info {
        font-size: 1rem;
        font-family: variables.$informal-font;
      }
      #number {
        margin-bottom: 1.7rem;
      }
    }
    > div:nth-child(2) {
      flex-basis: 33%;
      p {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 2.4rem;
        font-family: variables.$formal-font;
      }
      button {
        display: block;
        margin: auto;
        font-size: 1.2rem;
        padding: 18px 33px;
        background-color: variables.$secondary-color;
        border: none;
        color: white;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
      }
      button:hover {
        background-color: #f6cf8a;
      }
    }
    > div:nth-child(3) {
      flex-basis: 33%;
      display: flex;
      flex-direction: column;
      font-family: variables.$informal-font;
      img {
        margin-top: -1.5rem;
        width: 220px;
        align-self: end;
      }
      p {
        text-align: right;
        width: 90%;
        align-self: end;
      }
    }
  }
}

// TODO 1614 MEDIA///////////////////////////////////////////////////////////////////////////////////
// TODO.............................................................................................
// TODO.............................................................................................
// TODO.............................................................................................
// TODO.............................................................................................
// TODO.............................................................................................
// TODO.............................................................................................

@media (max-width: 1614px) {
  @import "homeMediaQueries/_sixteen14.scss";
  @include sixteen14;
}
// TODO 1360 MEDIA///////////////////////////////////////////////////////////////////////////////////
// TODO.............................................................................................
// TODO.............................................................................................
// TODO.............................................................................................
// TODO.............................................................................................
// TODO.............................................................................................
// TODO.............................................................................................
// TODO.............................................................................................
// TODO.............................................................................................

@media (max-width: 1360px) {
  @import "homeMediaQueries/_thirteen60.scss";
  @include thirteen60;
}

// TODO 1064 MEDIA///////////////////////////////////////////////////////////////////////////////////
// TODO.............................................................................................
// TODO.............................................................................................
// TODO.............................................................................................
// TODO.............................................................................................
// TODO.............................................................................................
// TODO.............................................................................................
// TODO.............................................................................................

@media (max-width: 1064px) {
  @import "homeMediaQueries/_ten64.scss";
  @include ten64;
}

// TODO 610 MEDIA///////////////////////////////////////////////////////////////////////////////////
// TODO.............................................................................................
// TODO.............................................................................................
// TODO.............................................................................................
// TODO.............................................................................................
// TODO.............................................................................................
// TODO.............................................................................................

@media (max-width: 610px) {
  @import "homeMediaQueries/_six10.scss";
  @include six10;
}

// TODO 376 PIXELS PIXELS MEDIA QUERIES
// TODO 376 PIXELS PIXELS MEDIA QUERIES
// TODO 376 PIXELS PIXELS MEDIA QUERIES
// TODO 376 PIXELS PIXELS MEDIA QUERIES
// TODO 376 PIXELS PIXELS MEDIA QUERIES
// TODO 376 PIXELS PIXELS MEDIA QUERIES
// TODO 376 PIXELS PIXELS MEDIA QUERIES
// TODO 376 PIXELS PIXELS MEDIA QUERIES
// TODO 376 PIXELS PIXELS MEDIA QUERIES
// TODO 376 PIXELS PIXELS MEDIA QUERIES
@media (max-width: 376px) and (max-height: 811px) {
  // ?BANNER SECTION.....................................................
  // ?........................................................................
  // ?........................................................................
  // ?........................................................................
  // ?........................................................................
  // ?........................................................................
  // ?........................................................................
  // ?........................................................................
  .banner-image-container {
    // border: solid red;
    // position: relative;
    height: 100vh;
    // display: block;

    > div {
      // height: 100%;
      // border: solid red;
    }
  }

  .banner-text-container {
    // width: 400px !important;
    // text-align: left;
    // border: solid purple;
    // align-self: center;
    // width: 93%;
    // margin: auto;
    // margin-left: 0;

    h1 {
      // font-size: 1.3rem;
      // max-width: 100%;
      margin-top: 8rem;
      line-height: 1.5;
      margin-bottom: 1.6rem;
    }

    h2 {
      // font-size: 17px;
      // max-width: 100%;
      // margin: 0;
      // margin-bottom: 3.5rem;
    }

    %button-shared {
      // padding: 1rem 2rem 1rem 2rem;
      // width: 100%;
      // margin: auto;
      // display: block;
      // border: none;
      // font-size: 16px;
    }

    a:first-child {
      // @extend %button-shared;
      // margin-bottom: 1rem;
    }

    // button:last-child {
    //   @extend %button-shared;
    //   background-color: transparent;
    //   border: solid white 1px;
    //   color: white;
    // }
  }
}

// ! ABOUT ABOUT ABOUT SECTION................................................
// ! ABOUT ABOUT ABOUT SECTION................................................
// ! ABOUT ABOUT ABOUT SECTION................................................
// ! ABOUT ABOUT ABOUT SECTION................................................
// ! ABOUT ABOUT ABOUT SECTION................................................
// ! ABOUT ABOUT ABOUT SECTION................................................
// ! ABOUT ABOUT ABOUT SECTION................................................
// ! ABOUT ABOUT ABOUT SECTION................................................
// ! ABOUT ABOUT ABOUT SECTION................................................
// ! ABOUT ABOUT ABOUT SECTION................................................
// ! ABOUT ABOUT ABOUT SECTION................................................
// ! ABOUT ABOUT ABOUT SECTION................................................
// ! ABOUT ABOUT ABOUT SECTION................................................
// ! ABOUT ABOUT ABOUT SECTION................................................
// ! ABOUT ABOUT ABOUT SECTION................................................
// ! ABOUT ABOUT ABOUT SECTION................................................
// ! ABOUT ABOUT ABOUT SECTION................................................
// ! ABOUT ABOUT ABOUT SECTION................................................
// ! ABOUT ABOUT ABOUT SECTION................................................
// TODO ABOUT ABOUT ABOUT SECTION................................................
@include aboutfull;

@media (max-width: 1160px) {
  @import "aboutMediaQueries/_elevenSixty.scss";
  @include elevenSixty;
}

@media (max-width: 1012px) {
  @import "aboutMediaQueries/_tentwelve.scss";
  @include tentwelve;
}

@media (max-width: 830px) {
  @import "aboutMediaQueries/_eightThirty.scss";
  @include eightThirty;
}

@media (max-width: 699px) {
  @import "aboutMediaQueries/_sixNineNine.scss";
  @include sixNineNine;
}

// ! SERVICES SERVICES SERVICES SECTION................................................
// ! SERVICES SERVICES SERVICES SECTION................................................
// ! SERVICES SERVICES SERVICES SECTION................................................
// ! SERVICES SERVICES SERVICES SECTION................................................
// ! SERVICES SERVICES SERVICES SECTION................................................
// ! SERVICES SERVICES SERVICES SECTION................................................
// ! SERVICES SERVICES SERVICES SECTION................................................
// ! SERVICES SERVICES SERVICES SECTION................................................
// ! SERVICES SERVICES SERVICES SECTION................................................
// ! SERVICES SERVICES SERVICES SECTION................................................
// ! SERVICES SERVICES SERVICES SECTION................................................
// ! SERVICES SERVICES SERVICES SECTION................................................
// ! SERVICES SERVICES SERVICES SECTION................................................
// ! SERVICES SERVICES SERVICES SECTION................................................
// ! SERVICES SERVICES SERVICES SECTION................................................
// ! SERVICES SERVICES SERVICES SECTION................................................
@include servicesfull;

@media (max-width: 1385px) {
  @import "servicesMediaQueries/_thirteen85.scss";
  @include thirteen85;
}

@media (max-width: 935px) {
  @import "servicesMediaQueries/_nine35.scss";
  @include nine35;
}

@media (max-width: 775px) {
  @import "servicesMediaQueries/_seven75.scss";
  @include seven75;
}

@media (max-width: 671px) {
  @import "servicesMediaQueries/_six71.scss";
  @include six71;
}

// ! PORTFOLIO PORTFOLIO PORTFOLIO SECTION................................................
// ! PORTFOLIO PORTFOLIO PORTFOLIO SECTION................................................
// ! PORTFOLIO PORTFOLIO PORTFOLIO SECTION................................................
// ! PORTFOLIO PORTFOLIO PORTFOLIO SECTION................................................
// ! PORTFOLIO PORTFOLIO PORTFOLIO SECTION................................................
// ! PORTFOLIO PORTFOLIO PORTFOLIO SECTION................................................
// ! PORTFOLIO PORTFOLIO PORTFOLIO SECTION................................................
// ! PORTFOLIO PORTFOLIO PORTFOLIO SECTION................................................
// ! PORTFOLIO PORTFOLIO PORTFOLIO SECTION................................................
@include portfoliofull;

@media (max-width: 1300px) {
  @import "portfolioMediaQueries/_thirteen00.scss";
  @include thirteen00;
}

@media (max-width: 1000px) {
  @import "portfolioMediaQueries/_one00.scss";
  @include one00;
}

@media (max-width: 690px) {
  @import "portfolioMediaQueries/_six90.scss";
  @include six90;
}

@media (max-width: 490px) {
  @import "portfolioMediaQueries/_four90.scss";
  @include four90;
}

// ! THANK YOU PAGE ONE................................................
// ! THANK YOU PAGE ONE................................................
// ! THANK YOU PAGE ONE................................................
// ! THANK YOU PAGE ONE................................................
// ! THANK YOU PAGE ONE................................................
// ! THANK YOU PAGE ONE................................................
// ! THANK YOU PAGE ONE................................................
// ! THANK YOU PAGE ONE................................................
@include thankyoupageonefull;

@media (max-width: 810px) {
  @include eightten;
}

// !SPECIAL OFFER.......................................................
// !SPECIAL OFFER.......................................................
// !SPECIAL OFFER.......................................................
// !SPECIAL OFFER.......................................................
// !SPECIAL OFFER.......................................................
// !SPECIAL OFFER.......................................................
// !SPECIAL OFFER.......................................................
@include specialofferfull;

@media (max-width: 1386px) {
  @import "specialofferMediaQueries/_thirteen86.scss";
  @include thirteen86;
}

@media (max-width: 1024px) {
  @import "specialofferMediaQueries/_ten24.scss";
  @include ten24;
}

@media (max-width: 700px) {
  @import "specialofferMediaQueries/_seven00.scss";
  @include seven00;
}
