@mixin sixNineNine {
  /*ABOUT INTRO SECTION.....................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ..................................................................................
  // ..................................................................................
  // ..................................................................................
  // ..................................................................................
  */
  .about-intro-section {
    // padding: 6rem 0;

    > .container-div {
      // display: block;
      // justify-content: center;
      // margin: auto;
      // border: solid red;
      width: 100%;
      padding: 0 1rem;
      // min-width: 0;

      > .intro-text-section {
        // flex-basis: 35%;
        > .title-container {
          // margin-bottom: 2rem;
          > h2 {
            // margin-bottom: 10px;
            font-size: 1.4rem !important;
          }
          > img {
            // width: 100px;
          }
        }
        > h4 {
          font-size: 1.3rem;
          // width: 90%;
          margin-bottom: 1.3rem;
          line-height: 1.5;
        }
        > p {
          // width: 92%;
          font-size: 15px;
          // line-height: 1.7;
          // color: rgb(117, 117, 117);
          // margin-bottom: 1.5rem;
        }
        > div {
          // margin-bottom: 3.5rem;
          // > :first-child {
          //   font-size: 1.2rem;
          //   font-weight: 600;
          //   margin-bottom: 5px;
          // }
          // > :last-child {
          //   color: red;
          // }
        }
      }

      /*VISION-MISSION*/
      .vision-mission-div {
        // flex-basis: 55%;
        // display: flex;
        // display: block;
        // align-items: end;
        // gap: 0rem;

        > .container {
          // margin-bottom: 4rem;
          > .image-div {
            // width: 100%;
            height: 220px !important;
            // margin-bottom: 1.6rem;
            // > img {
            //   object-fit: cover;
            //   height: 100%;
            //   width: 100%;
            // }
          }
          > h4 {
            // font-size: 1.5rem;
            margin-bottom: 0.5rem;
          }
          > p {
            // font-size: 15px;
            // line-height: 1.7;
            width: 96%;
          }
        }
      }
    }
  }
  /*SECTION THREE - WHY US.....................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ..................................................................................
  // ..................................................................................
  // ..................................................................................
  // ..................................................................................
  */

  .why-us-section {
    .width-container {
      // width: 100%;
      // border: solid red;
      > h3 {
        // text-align: center;
        font-size: 2rem;
        // margin-bottom: 3px;
      }
      // > img {
      //   display: block;
      //   margin: auto;
      //   width: 100px;
      //   padding: 12px 0 5px 0;
      // }
      .cards-div {
        // margin-top: 3.5rem;
        padding: 0 0.8rem;
        // display: grid;
        // grid-template-columns: repeat(auto-fit, 1fr);
        gap: 1.5rem;
        // border: orange solid;
      }
    }
  }

  .card-div {
    // min-height: 153px;
    // display: flex;
    // padding: 10px 0;
    // gap: 1.5rem;
    // border: solid pink;

    .icon-div {
      height: 45px;
      // background-color: variables.$secondary-color;
      flex-basis: 15%;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      .icon {
        // font-size: 2.2rem;
      }
    }
    > div {
      flex-basis: 85%;
      h4 {
        font-size: 1rem;

        margin-bottom: 0.7rem;
      }
      p {
        // line-height: 1.6;
        // font-size: 15px;
        // color: #e9e9e9d3;
      }
    }
  }

  /*SECTION FOUR - MESSAGE FROM CEO.....................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ?..................................................................................
  // ..................................................................................
  // ..................................................................................
  // ..................................................................................
  // ..................................................................................
  */
  .ceo-message-section {
    > .width-container {
      // margin: auto;
      // width: 100%;
      // border: solid pink;
      padding: 0 0.8rem;
      > h3 {
        font-size: 1.4rem;
      }
      > img {
        width: 100px;
        // padding: 12px 0 5px 0;
      }
      .ceo-content-div {
        // margin-top: 2rem;
        // display: block;
        // gap: 4rem;
        // border: solid red;
        .ceo-pic-div {
          // flex-basis: 30%;
          // margin: auto;
          width: 95%;
          height: 240px;
          // > img {
          //   object-fit: cover;
          //   height: 100%;
          //   width: 100%;
          // }
        }
        .ceo-text-div {
          // margin-top: 2.5rem;
          // flex-basis: 70%;
          // display: flex;
          // flex-direction: column;
          // justify-content: center;
          // > h4 {
          //   font-size: 1.5rem;
          //   margin-bottom: 1rem;
          // }
          // > p {
          //   font-family: tahoma;
          //   line-height: 1.6;
          //   color: #7c7c7c;
          // }
        }
      }
    }
  }
}
